.cardFrame {
   padding: 8px;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.card {
   height: 100%;
   width: 100%;
   box-shadow: 0px 0px 10px #ccc;
   overflow: hidden;
   vertical-align: middle;
   // background-color: #fff;
}
